{% extends 'base.html' %}

{% set page_head_title = 'exchange_returns' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('exchange_returns.static', filename='css/exchange_returns.css') }}"/>
{% endblock %}
{% block page_body_main_content %}
            <div class= container>
                <div class="title"><div class="bg-text">החלפות והחזרות</div></div>
                <div class= text>
                    <p>בכפוף לאמור בחוק הגנת הצרכן התשמ”א 1981.</p>
                    <p>זיכוי או החלפה לפריט אשר יוחזר תוך 14 יום מיום קבלתו.</p>
                    <p>זיכוי או החלפה תוענק בהצגת אישור תשלום, ויש לצרפו למשלוח החוזר.</p>
                    <p>לאחר שהפריט יגיע חזרה אל המוכרת, הוא ייבדק, ובמידה ויעמוד בתנאי ההחזרה / החלפה, יקבל הלקוח זיכוי כספי</p>
                    <p>או פריט אחר כפי שנבחר.</p>
                    <p>הזיכוי יוענק באותו סכום הקניה לאחר הורדת דמי המשלוח במידה והיו, לאותו כרטיס אשראי בלבד שאיתו שולם.</p>
                    <p>זיכוי או החלפה לא יוענקו במידה והפריט יוחזר פגום ו/או עם ריח של סיגריות, בושם או שערות של כלבים וחתולים.</p>
                    <p>מובהר בזאת כי הנהלת האתר תהא בעלת שיקול הדעת הבלעדית בהגדרת מצבו של הפריט המוחזר.</p>
                    <p>בעת החזרת פריט, הלקוח מתחייב לשלוח את הפריט ו/או הפריטים בדואר רשום. הנהלת האתר אינה אחראית להשיב</p>
                    <p>סכום כלשהוא במידה והפריט אבד בדרכו.</p>
                </div>
{% endblock %}
